extend layout

block content

  canvas(id="drawCanvas")

  audio(id="clickSound" href="/audio/UiClick.mp3")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js" integrity="sha512-tE1z+95+lMCGwy+9PnKgUSIeHhvioC9lMlI7rLWU0Ps3XTdjRygLcy4mLuL0JAoK4TLdQEyP0yOl/9dMOqpH/Q==" crossorigin="anonymous" referrerpolicy="no-referrer")
  script(type = "text/javascript" src="/javascripts/common/canvas.js")
  script(type = "text/javascript" src="/javascripts/script.js")

  div(class="dropdown-container" id="dropdownContainer")
    img(src="/images/logo.png" alt="Logo" id="dropimage")
    input(type="text" id="nameInput" placeholder="Enter your name")
    button(id="nameButton" onClick="toggleDropdown()") Draw!

  div(class="ribbon" id="ribbon")

    //BLACK 
    button(class="button" id="bigBlack" onClick="changeBrush(24,0,0,0)")
      img(class="hover-image" src="/images/black.png" alt="brushes")

    // green
    button(class="button" id="bigGreen" onClick="changeBrush(24,0,0,255)")
      img(class="hover-image" src="/images/green.png" alt="brushes")

    // blue
    button(class="button" id="bigLightBlue" onClick="changeBrush(15,173,216,230)")
      img(class="hover-image" src="/images/lightblue.png" alt="brushes")

    // orange
    button(class="button" id="bigOrange" onClick="changeBrush(18,255,0,177)")
      img(class="hover-image" src="/images/orange.png" alt="brushes")

    button(id="changeColor" onClick="changeColor()") Change Color
    button(id="changeSize" onClick="changeSize()") Change Size
    // ZOOM Buttons
    button(id="zoomInButton" onClick="zoomInButton()") +
    button(id="zoomOutButton" onClick="zoomOutButton()") -

  div(id="footer-text") InkVerse: Local Server

  div(id="username")


