<!DOCTYPE html>

<html>
<head>
    <title>InkVerse: Client V1.13</title>
    <link rel="icon" type="image/x-icon" href="/images/ico.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
    <body>
        
        <div id="Loading">
            <div id="LoadingText">Loading</div>
        </div>
        <canvas id="displayCanvas"></canvas>
        <canvas id="drawCanvas"></canvas>
        <canvas id="showcase", height="50", width="50"></canvas>
        <audio id="clickSound" href="/audio/UiClick.mp3"></audio>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js" integrity="sha512-tE1z+95+lMCGwy+9PnKgUSIeHhvioC9lMlI7rLWU0Ps3XTdjRygLcy4mLuL0JAoK4TLdQEyP0yOl/9dMOqpH/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <div class="tutorial" id="tutorial">
          <h2>Tutorial:</h2>
          <p>Click + drag to draw</p>
          <p>2 fingers to zoom + pan</p>
          <p>or ctrl+drag to pan</p>
          <p>Earn points as time passes</p>
          <p>Use points to roll</p>
          <p>or</p>
          <p>Use points to directly unlock brushes</p>

        <button id="X" onClick="toggleDropdown()">Done</button>
        </div>
        <div class="dropdown-container" id="dropdownContainer">

            <img src="/images/logo.png" id="dropimage">
            <input type="text" id="nameInput" placeholder="Enter your name">
            <button id="nameButton" onClick="toggleDropdown()">Draw!</button>
        </div>

        <div id="timer">00:00:00</div>
        <div id="points">0 Points</div> <!-- Element to display points -->
        <button class="gacha" id="gacha" onClick="rollDice()" >click to roll</button>

        <div id="scrollBrushes"></div>
        <div id="brushData"></div>
        <button id="backpack" onClick="backpack()"></button>
        
        <!-- ZOOM Buttons-->
        <button id="zoomInButton" onClick="zoomInButton()">+</button>
        <button id="zoomOutButton" onClick="zoomOutButton()">-</button>

        <div id="footer-text">InkVerse: Local Server</div>
        <div id="username"></div>
        <div id="pen-text">Pen: </div>
        <div id="rectangle"></div>

        <script type="text/javascript" src="/javascripts/common/browserDisplay.js"></script>
        <script type="text/javascript" src="/javascripts/common/canvas.js"></script>
        <script type="text/javascript" src="/javascripts/common/server.js"></script>
        <script type="text/javascript" src="/javascripts/script.js"></script>
        
    </body>
</html>
