body {
  margin: 0;
  border: 0;
  overflow: hidden;
  touch-action: pinch-zoom;
}

#drawCanvas {
  opacity: 0;
  z-index: 1;
  left: 0;
  top: 0;
  position: fixed;
}

#displayCanvas {
  opacity: 100;
  z-index: 2;
  left: 0;
  top: 0;
  position: fixed;
}

#Loading {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 999;
  left: 0;
  top: 0;
  position: fixed;
  word-wrap: break-word;
}

#LoadingText {
  text-align: center;
  vertical-align: center;
  color: white;
  font-size: 75px;
  z-index: 9999;

}

#zoomInButton {
  position: fixed;
  bottom: 5cqb;
  /* Adjust as needed */
  left: 85%;
  /* Position horizontally at the middle */
  transform: translateX(-50%);
  background-color: #dc7e7e;
  color: #fff;
  width: 6%;
  height: 5%;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  user-select: none;
  z-index: 4;
}

#zoomOutButton {
  position: fixed;
  bottom: 0%;
  /* Adjust as needed */
  left: 85%;
  /* Position horizontally at the middle */
  transform: translateX(-50%);
  background-color: #a3a9ea;
  color: #fff;
  width: 6%;
  height: 5%;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  user-select: none;
  z-index: 4;
}


#backpack {
  position: fixed;
  bottom: -10%;
  /* Adjust position as needed */
  left: 50%;
  transform: translateX(-50%);
  color: #C2B5D6;
  background-color: #C2B5D6;
  background-image: url("/images/backpackClose.png");
  /* Set the image as background */
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 55px;
  /* Ensure rounded edges */
  width: 10%;
  /* Adjust width automatically */
  height: 20%;
  /* Adjust height automa=\tically */
  z-index: 99;
  /* Ensure the ribbon is above other content */

}

#brushData {
  color: black;
  background-color: white;
  width: 10%;
  min-width: 100px;
  height: 50px;
  padding: 2px 2px;
  font-size: 16px;
  position: absolute;
  display: none;
  z-index: 6;
  pointer-events: none;
  white-space: pre;
}

#username {
  position: fixed;
  bottom: 20px;
  /* Adjust position as needed */
  left: 20px;
  /* Adjust position as needed */
  color: black;
  /* Change text color as needed */
  font-size: 34px;
  /* Adjust font size as needed */
  z-index: 3;
  /* Ensure the text is above other content */
}


#footer-text {
  position: fixed;
  bottom: 20px;
  /* Adjust position as needed */
  right: 20px;
  /* Adjust position as needed */
  color: black;
  /* Change text color as needed */
  font-size: 90%;
  /* Adjust font size as needed */
  z-index: 4;
  /* Ensure the text is above other content */
  color: #000000;
}

#rectangle {
  width: 30%;
  height: 10%;
  background: #9994B2;
  opacity: 0.9;
  position: fixed;
  bottom: 0%;
  left: 88%;
  border-radius: 25px;
  z-index: 3;
  border-radius: 40px 0px 0px 0px;
  overflow: hidden;
  /* Hide overflowing content */
  word-wrap: break-word;
  /* Wrap long words to prevent overflow */
}

#showcase {
  position: fixed;
  color: #9994B2;
  bottom: 4%;
  left: 95%;
  z-index: 4;
}

#pen-text {
  position: fixed;
  bottom: 6%;
  left: 93%;
  color: black;
  /* Change text color as needed */
  font-size: 90%;
  z-index: 4;
}

.dropdown-container {
  position: fixed;
  top: 10%;
  left: 50%;
  background-color: #C2B5D6;
  color: #C2B5D6;
  border-radius: 55px;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  display: none;
  font-size: 17px;
}

.dropdown-container.active {
  transform: translateX(-50%);
  display: block;
  color: #9994B2;
}

.dropdown-container img {
  max-width: 100px;
  height: 200%;
  display: block;
  margin: 0 auto 20px;
  color: #9994B2;
}

.dropdown-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #5E618C;
}

#tutorial {
  text-align: center;
  position: absolute;
  bottom: 70%;
  left: 50%;
  background-color: #C2B5D6;
  border-radius: 55px;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  font-size: 17px;
  z-index: 20;
  transform: translateX(-50%) translateY(100%);
  display: block;
  color: black;
}

.hover-image {
  transition: transform 1s ease;
  display: flex;
  justify-content: space-between;
  /* Distribute items equally */
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: 50% 0%;
}

.hover-image:hover {
  transform: translateY(-20px);
  cursor: pointer;
  transition: transform 0.4s ease;
}

.button-brush {
  width: 70px;
  height: 70px;
  border: none;
  background: none;
  user-select: none;
}

.locked {
  /* filter: grayscale(100%); */
  filter: brightness(0);
}

#timer {
  position: fixed;
  top: 10px;
  /* Adjust as needed */
  right: 10px;
  /* Adjust as needed */
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  z-index: 3;
}

.container {
  text-align: center;
  /* Center align content */
}

#points {
  position: fixed;
  top: 40px;
  /* Adjust as needed */
  right: 20px;
  /* Adjust as needed */
  border: 1px solid #ccc;
  /* Add border */
  padding: 10px;
  /* Add padding */
  border-radius: 5px;
  /* Add border radius */
  z-index: 3;
  color: #000000;
}

.gacha {
  position: fixed;
  top: 80px;
  /* Adjust as needed */
  right: 20px;
  /* Adjust as needed */
  z-index: 3;
  color: #000000;
}

#scrollBrushes {
  position: fixed;
  top: 10%;
  left: 10%;
  background-color: #9994B2;
  width: 80%;
  height: 80%;
  overflow: auto;
  z-index: 5;
  border-radius: 2%;
  display: none;
}