
body {
  margin: 0;
  border: 0;
  overflow: hidden;
  touch-action: pinch-zoom;
}

#changeColor {

    position: fixed;
    bottom: 130px; /* Adjust as needed */
    left: 90%; /* Position horizontally at the middle */
    transform: translateX(-50%);
    background-color: #0d8797;
    color: #fff;
    border-radius: 20px;
    width: 12%;
    height: 17%;
    border: none;
    cursor: pointer;
    user-select: none;

}

#changeSize {

    position: fixed;
    bottom: 90px; /* Adjust as needed */
    left: 90%; /* Position horizontally at the middle */
    transform: translateX(-50%);
    background-color: #0d8797;
    color: #fff;
    width: 12%;
    height: 17%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    user-select: none;

}

#zoomInButton {
  position: fixed;
  bottom: 130px; /* Adjust as needed */
  left: 78%; /* Position horizontally at the middle */
  transform: translateX(-50%);
  background-color: #dc7e7e;
  color: #fff;
  width: 6%;
  height: 17%;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  user-select: none;
}

#zoomOutButton {
  position: fixed;
  bottom: 90px; /* Adjust as needed */
  left: 78%; /* Position horizontally at the middle */
  transform: translateX(-50%);
  background-color: #a3a9ea;
  color: #fff;
  width: 6%;
  height: 17%;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  user-select: none;
}

#ribbon {
  position: fixed;
  bottom: -10%; /* Adjust position as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #cc3030;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 55px; /* Ensure rounded edges */
  width: 50%; /* Adjust width automatically */
  height: 20%; /* Adjust height automatically */
  z-index: 9999; /* Ensure the ribbon is above other content */
}


#footer-text {
  position: fixed;
  bottom: 20px; /* Adjust position as needed */
  right: 20px; /* Adjust position as needed */
  color: black; /* Change text color as needed */
  font-size: 14px; /* Adjust font size as needed */
  z-index: 9999; /* Ensure the text is above other content */
}

#username {
  position: fixed;
  bottom: 20px; /* Adjust position as needed */
  left: 20px; /* Adjust position as needed */
  color: black; /* Change text color as needed */
  font-size: 34px; /* Adjust font size as needed */
  z-index: 9999; /* Ensure the text is above other content */
}

#showcase {
  position: fixed;
  bottom: 3%;
  left: 95%;
  z-index: 99999;
}

#pen-text {
  position: fixed;
  bottom: 8%;
  left: 96%;
  color: black; /* Change text color as needed */
  font-size: 16px;
  z-index: 99999;
}

.dropdown-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  display: none;
}

.dropdown-container.active {
  transform: translateX(-50%) translateY(100%);
  display: block;
}

.dropdown-container img {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

.dropdown-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

hover-image {
    transition: transform 1s ease;
    display: flex;
    justify-content: space-between; /* Distribute items equally */
}

.hover-image:hover {
    transform: translateY(-50px);
    cursor: pointer;
    transition: transform 0.5s ease;
}

.button {
    border: none;
    background: none;
    user-select: none;
}

